<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muirconsult.mymadlibs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="MadFlashActivity2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.muirconsult.mymadlibs.MainMadLibActivity"> </activity>
        <activity android:name="com.muirconsult.mymadlibs.MovieCriticActivity"> </activity>
        <activity android:name="com.muirconsult.mymadlibs.SongWriterActivity"></activity>
        <activity android:name="com.muirconsult.mymadlibs.NovelistActivity"></activity>
        <activity android:name="com.muirhconsult.mymadlibs.PoliticalSpeechActivity"></activity>
        <activity android:name="com.muirconsult.mymadlibs.MovieCriticListSearch"></activity>
        <activity android:name="com.muirconsult.mymadlibs.MakeYourOwnActivity"></activity>
        <activity android:name="com.muirconsult.mymadlibs.FormActivity"></activity>
    </application>

</manifest>